
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0px;

}

.btn{
    padding: 6px 20px;
    border: 2px solid black;
    background-color: brown;
    font-size: 1.5rem;
    border-radius: 20px;
}